<div class="container mx-auto p-8">
  <div class="flex justify-between items-center mb-4">
    <%= link_to 'analytics', analytics_path, class: "text-blue-500 hover:underline" %>
  </div>
  <h1 class="text-2xl font-bold mb-4">Search Anything</h1>

  <%= form_with url: searches_path, method: :post,
                data: { controller: "search-form", action: "input->search-form#handleInput" } do |form| %>
    <%= form.text_field :query,
                        id: 'search-input',
                        class: "w-full p-2 border border-gray-300 rounded mb-4",
                        placeholder: "Type your search here...",
                        autocomplete: "off",
                        data: { search_form_target: "query" }
                        %>
  <% end %>

  <%= turbo_frame_tag "search_results", class: "mt-4" do %>
    <p class="text-gray-500">Start typing your search...</p>
  <% end %>
</div>
